body {
  font-family: 'Open Sans', sans-serif;
  color: #353535;
}

#topContainer{
  padding-top: 50px;
}

#navBarList li a:hover{
  background-color: transparent;
  color: #4285F4;
}
#navBarList li a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid green;
  transition: 0.4s;
}

#navBarList li a:hover:after{
  width: 100%;
}

.content h1 {
  text-align: center;
}
.content .content-footer p {
  color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
  color: inherit;
  font-weight: bold;
}

/*  --------------------------------------------------
  :: Table Filter
  -------------------------------------------------- */
.panel {
  border: 1px solid #ddd;
  background-color: #fcfcfc;
}
.panel .btn-group {
  margin: 15px 0 30px;
}
.panel .btn-group .btn {
  transition: background-color .3s ease;
}
.table-filter {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.table-filter tbody tr td {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
}
.table-filter tbody tr.selected td {
  background-color: #eee;
}
.table-filter tr td:first-child {
  width: 38px;
}
.table-filter tr td:nth-child(2) {
  width: 35px;
}
.ckbox {
  position: relative;
}
.ckbox input[type="checkbox"] {
  opacity: 0;
}

.table-filter .star {
  color: #ccc;
  text-align: center;
  display: block;
}
.table-filter .star.star-checked {
  color: #F0AD4E;
}
.table-filter .star:hover {
  color: #ccc;
}
.table-filter .star.star-checked:hover {
  color: #F0AD4E;
}


.table-filter .media-meta {
  font-size: 11px;
  color: #999;
}
.table-filter .media .title {
  color: #2BBCDE;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}
.table-filter .media .title span {
  font-size: .8em;
  margin-right: 20px;
}
.table-filter .media .title span.pagado {
  color: #5cb85c;
}
.table-filter .media .title span.pendiente {
  color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
  color: #d9534f;
}
.table-filter .media .summary {
  font-size: 14px;
}

#start {
    width: 30%;
    height: 60px;
    margin-top: 15px;
}

  #topContainer{
    padding-top: 50px;
  }

  #navBarList li a:hover{
    background-color: transparent;
    color: #4285F4;
  }
  #navBarList li a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid green;
    transition: 0.4s;
  }

  #navBarList li a:hover:after{
    width: 100%;
  }

    .centerText{
        text-align: center;
    }

    .solvedProblem{
        background-color: #5cb85c;
    }
    .ongoingProblem{
        background-color: #F4AD4E;
    }

    #innerTasksDiv{
        padding: 30px;
        background: #eff0f1;
        border: 0;
        border-radius: 5px;
    }






#topContainer{
  padding-top: 50px;
}

#navBarList li a:hover{
  background-color: transparent;
  color: #4285F4;
}
#navBarList li a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid green;
  transition: 0.4s;
}

#navBarList li a:hover:after{
  width: 100%;
}

.centerText{
  text-align: center;
}



#innerTasksDiv{
  padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
  border-radius: 5px;
}

.spacer {
    margin-top: 16vh; /* define margin as you see fit */
}



    body {
        background: #eee !important;
    }

    .loginBtn {
        position: relative;
        width: 30%;
        padding: 0 15px 0 46px;
        border: none;
        text-align: left;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 16px;
        color: #FFF;
        margin: 0.2em auto;
    }
    .loginBtn:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
    }
    .loginBtn:focus {
        outline: none;
    }

    #emailForm{
        margin: 10px;
    }
    #passwordForm{
        margin: 10px;
    }

    #navBarList li a:hover{
        background-color: transparent;
        color: #4285F4;
    }
    #navBarList li a:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 2px solid green;
        transition: 0.4s;
    }

    #navBarList li a:hover:after{
        width: 100%;
    }
    #navBarWrapper{
        margin-bottom: 0px;
    }

    #rememberButton{
        text-align: center;
    }
    #searchBarDiv{
        margin:0;
    }
    #searchBar{
        padding: 5px;
        margin-top: 7px;

    }

    /* Facebook */
    .loginBtn--facebook {
        background-color: #4C69BA;
        background-image: linear-gradient(#4C69BA, #3B55A0);
        /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
        text-shadow: 0 -1px 0 #354C8C;
        margin: 10px;
    }
    .loginBtn--facebook:before {
        border-right: #364e92 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    }
    .loginBtn--facebook:hover,
    .loginBtn--facebook:focus {
        background-color: #5B7BD5;
        background-image: linear-gradient(#5B7BD5, #4864B1);
    }

    #loginForm{
        background: rgba(0, 0, 0, 0.5);
        color: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    #socialLogIn{
        text-align: center;;
    }

    /* Google */
    .loginBtn--google {
        /*font-family: "Roboto", Roboto, arial, sans-serif;*/
        background: #DD4B39;
        margin: 10px;
    }
    .loginBtn--google:before {
        border-right: #BB3F30 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
    }

    .centerText{
        text-align: center;
    }


    .wrapper {
        /*margin-top: 80px;*/
        /*margin-bottom: 80px;*/
        height: 100vh;
        -webkit-background-origin: border;
        /*background-image: url(images/marking.jpg);*/
        /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/marking.jpg');*/
        background: #F5F8FA;
        background-size: cover;
        padding: 80px;

    }

    .form-signin {
        max-width: 880px;
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .form-signin-heading,
    .checkbox {
        margin-bottom: 30px;
    }

    .checkbox {
        font-weight: normal;
    }

    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
    @include box-sizing(border-box);

    }

    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #toprow{
        margin-top:100px;
        text-align: center;
        color:white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

/* Signup */


.panel-body input{
    height: 3em;
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;

}

#signup #start {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*MY PROFILE*/

.blueText{
    color: #69D2E7;
}

.transparentBackground{
    background-color:rgba(255,0,0,0.0);
}

.borderNone{
    border: none;
}

.greenColor{
    color: #1FDA9A;
}

.orangeColor{
    color: #EC971F;
}

#profileBody{
    background-color: red;
}

#profileInfo img{
    width: 20%;
    height: 100%;
    float: left;
    border-radius: 20px;
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    margin-right: 10px;
}

#reviews{
    text-align: center;
}

.profilePic{

}

#biography{
    font-style: italic;
}

.reviewBox{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
    padding-top: 10px;
    border: 2px solid grey;
    text-align: left;
    padding-left: 5px;
    height: 120px;
    background-color: #C5D5CB;
}
.reviewBox img{
    width: 10%;
    height: 80%;
    float: left;
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    margin-right: 10px;
    border-radius: 15px;
    border: 2px solid white;
}

.rating{
    color: #9068BE;
}


#reviewForm {
  display: none;
}

#thanks {
  display: none;
}


/*ADMIN CP*/


/*TASKS*/

#taskContainer{
    margin: 0 auto;
    text-align: center;
    width: 70%;
    border: 2px solid grey;
    background-color:#69D2E7;
}
#votesDiv{
    float: left;
    border-right: 1px solid darkgrey;
    height: 100%;
    width: 20%;
    margin: 0;
}

#votesUL{
    margin: 0 auto;
    padding-right: 3px;
    padding-left: 5px;
    list-style: none;
    height: 100%;
    vertical-align: middle;
    text-align: center;

}


.float-clear{
    clear:both;
}

.green{
    color: limegreen;
}
.red{
    color: darkred;
}

#taskDescription{
    overflow: scroll;
    float:right;
    width: 80%;
    padding: 10px;
    text-align: left;
    height: 100%;
}
.borderTop{
    border-top: 1px solid grey;
}

#innerDiv{
    height: 200px;
    background-color:#C5D5CB;

}

#voteButtons{
    display: inline-block;
    margin-top: 30%;
}


#startTaskButton{

}

#similarPostDiv{
    margin-top: 15px;
    width: 70%;
}

#reviews{
    padding: 5px;
    text-align: left;
}

#reviewPanel{
    padding: 15px;
}