<!DOCTYPE html>
<html>
<head>
  <!--<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container" id = "topContainer">


    <div class="row">

      <section class="content">
        <h1 class = "centerText">Admin Control Panel</h1>

          <div class="row spacer"></div>
          <div class="row">

            <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="pull-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-warning btn-filter" data-target="pagado">User Accounts</button>
                      <button type="button" class="btn btn-success btn-filter" data-target="pendiente">Problems</button>
                    </div>
                  </div>
                  <div class="table-container">
                    <table class="table table-filter">
                      <tbody>
                        <tr ng-repeat="user in users" data-status="pagado" class = "solvedProblem">
                          <td>
                            <div class="ckbox">
                              <input type="checkbox" id="checkbox1">
                              <label for="checkbox1"></label>
                            </div>
                          </td>
                          <td>
                              <i class="glyphicon glyphicon-star"></i>

                          </td>

                          <td>
                            <div class="media">
                              <a href="#" class="pull-left">
                              </a>
                              <div class="media-body">
                                <span class="media-meta pull-right"><b>Created:</b> March 5, 2016</span>
                                <h4 class="title">
                                  Username: {{user._id}}
                                </h4>
                                <p class="summary"><b>Email:</b> {{user.local.email}}</p>
                                  <p class="summary"><b>Name:</b> {{user.local.name}}</p>
                                <p class="summary"><b>Points:</b> {{user.local.points}}</p>
                                  <p class="summary"><b>Bio:</b> {{user.local.bio || "N/A"}} </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-footer">
            <p>

            </p>
          </div>
      </section>


    </div>
  </div>

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script type = "text/javascript" src = "/node_modules/bootstrap/dist/js/bootstrap.min.js"> </script>

</body>

</html>
