<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/css/style.css">
</head>

<body id = "profileBody">
  <div class="container" id = "topContainer">
    <div class="row">

      <section class="content">

        <h1>My Profile</h1>
        <div class="col-md-12 col-md-offset-0 transparentBackground borderNone" id = "profileInfo">
          <img src = "images/suitguy.jpg">
          <div class="panel panel-default transparentBackground borderNone">
            <h3><span class = "redColor">{{user.name}}</span></h3>
            <h3><span class = "greenColor">Points:</span> {{user.points}}</h3>
            <h3><span class = "orangeColor">Ongoing tasks:</span> 4</h3>
            <h3>Biography</h3>
              <p id = "biography"> I'm a Learning and Communications professional with 10+ years of experience in
                  adult/non-traditional student teaching/development and 3+ years in Communications in a corporate
                  setting. I earned my PhD in English Literature in 2010 and am currently completing a Master's
                  Certificate in Adult Training and Development at the Schulich Executive Education Centre.
                  <br><br>
                  In my years as an educator, I've developed instructional and evaluation materials for advanced
                  placement and remedial courses, and delivered university courses, lectures & seminars, training
                  sessions and ESL instruction. As a communicator, I specialize in developing internal and strategic
                  communications to employees in a large organization, relying on my strong verbal and written
                  communication skills and knowledge of traditional and innovative digital channels.
                  <br><br>
                  I'm an individual who is passionate about learning and enabling others to learn more easily,
                  better and faster, based partly on my liberal educational orientation and partly on my own journey
                  as a lifelong learner.</p>
          </div>
        </div>


        <h1 class = "centerText blueText">My Tasks</h1>
        <div class="col-md-12 col-md-offset-0" id = "tasksDiv">
          <div class="panel panel-default" id = "innerTasksDiv">
            <div class="panel-body">
              <div class="pull-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-warning btn-filter" data-target="pagado">Ongoing Problems</button>
                  <button type="button" class="btn btn-success btn-filter" data-target="pendiente">Solved Problems</button>
                  <button type="button" class="btn btn-danger btn-filter" data-target="cancelado">Tags</button>
                </div>
              </div>
              <div class="table-container">
                <table class="table table-filter">
                  <tbody>
                    <tr data-status="pagado" class = "ongoingProblem">
                      <td>
                        <div class="ckbox">
                          <input type="checkbox" id="checkbox1">
                          <label for="checkbox1"></label>
                        </div>
                      </td>
                      <td>
                        <a href="javascript:;" class="star">
                          <i class="glyphicon glyphicon-star"></i>
                        </a>
                      </td>
                      <td>
                        <div class="media">
                          <a href="#" class="pull-left">
                          </a>
                          <div class="media-body">
                            <span class="media-meta pull-right">Mar 23, 2016</span>
                            <h4 class="title">
                            Aristotle and Locke on Property
                            <span class="pull-right pagado">Political Science</span>
                          </h4>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr data-status="pendiente" class = "ongoingProblem">
                      <td>
                        <div class="ckbox">
                          <input type="checkbox" id="checkbox3">
                          <label for="checkbox3"></label>
                        </div>
                      </td>
                      <td>
                        <a href="javascript:;" class="star">
                          <i class="glyphicon glyphicon-star"></i>
                        </a>
                      </td>
                      <td>
                        <div class="media">
                          <a href="#" class="pull-left">
                          </a>
                          <div class="media-body">
                            <span class="media-meta pull-right">Mar 13, 2016</span>
                            <h4 class="title">
														The role of nature through American art
														<span class="pull-right pendiente">Art</span>
													</h4>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr data-status="cancelado" class = "solvedProblem">
                      <td>
                        <div class="ckbox">
                          <input type="checkbox" id="checkbox2">
                          <label for="checkbox2"></label>
                        </div>
                      </td>
                      <td>
                        <a href="javascript:;" class="star">
                          <i class="glyphicon glyphicon-star"></i>
                        </a>
                      </td>
                      <td>
                        <div class="media">
                          <a href="#" class="pull-left">
                          </a>
                          <div class="media-body">
                            <span class="media-meta pull-right">Febrero 13, 2016</span>
                            <h4 class="title">
														Lorem Impsum
														<span class="pull-right cancelado">Group Theory</span>
													</h4>
                            <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr data-status="pagado" class="selected ongoingProblem">
                      <td>
                        <div class="ckbox">
                          <input type="checkbox" id="checkbox4" checked>
                          <label for="checkbox4"></label>
                        </div>
                      </td>
                      <td>
                        <a href="javascript:;" class="star star-checked">
                          <i class="glyphicon glyphicon-star"></i>
                        </a>
                      </td>
                      <td>
                        <div class="media">
                          <a href="#" class="pull-left">
                          </a>
                          <div class="media-body">
                            <span class="media-meta pull-right">Febrero 13, 2016</span>
                            <h4 class="title">
														Lorem Impsum
														<span class="pull-right pagado">Linear Algebra</span>
													</h4>
                            <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr data-status="pendiente" class = "ongoingProblem">
                      <td>
                        <div class="ckbox">
                          <input type="checkbox" id="checkbox5">
                          <label for="checkbox5"></label>
                        </div>
                      </td>
                      <td>
                        <a href="javascript:;" class="star">
                          <i class="glyphicon glyphicon-star"></i>
                        </a>
                      </td>
                      <td>
                        <div class="media">
                          <a href="#" class="pull-left">
                          </a>
                          <div class="media-body">
                            <span class="media-meta pull-right">Febrero 13, 2016</span>
                            <h4 class="title">
														Lorem Impsum
														<span class="pull-right pendiente">Calculus I</span>
													</h4>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="content-footer">
            <p>

            </p>
          </div>
        </div>
      </section>

    </div>

    <div class = "container" id = "reviews">
      <h1>Reviews</h1>
        <div id = "reviewSection" class = "container">
            <div class = "reviewBox">
                <img src = "images/man1.jpg">
                <a href = "#"><h5>CarlJohnson5</h5></a>
                <p> Thank you for the great feedback! Although the grading took longer than I expected,
                    I received great reviews for my speech!</p>
                <p><span class = "rating">Rating:</span> 4/5</p>
            </div>

            <div class = "reviewBox">
                <img src = "images/girl1.jpg">
                <a href = "#"><h5>Jenni1997</h5></a>
                <p> Thank you so much i got an A on my paper!</p>
                <p><span class = "rating">Rating:</span> 5/5</p>
            </div>
        </div>

    </div>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>
