<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body id="signup">
<div class="container" id = "topContainer">
    <div class="row">
        <section class="content">
            <h1>Please Enter Your Personal Information</h1>

            <div class="col-md-12 col-md-offset-0">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3> Name: </h3>
                        <input type="text" class="form-control" id="nameUp" name="username" required="" autofocus="">
                        <h3> Email: </h3>
                        <input type="text" class="form-control" id="emailUp" name="email" required="" autofocus="">
                        <h3> Password: </h3>
                        <input type="text" class="form-control" id="passUp" name="pass" required="" autofocus="">
                        <button id="start" type="button" class="btn btn-success btn-filter" data-target="pagado">Sign Up</button>

                    </div>
                </div>
                <div class="content-footer">
                    <p>

                    </p>
                </div>
            </div>
        </section>

    </div>
</div>
</body>
</html>
