<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submission</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            //theme: 'tundora',
            plugins : 'advlist autolink link image lists charmap print preview wordcount spellchecker fullscreen',
//            toolbar: 'undo redo | styleselect | bold italic | link image'
            menubar: 'file edit view',
            skin: 'lightgray'

        });
        tinymce.init({
            selector: '#myeditablediv',  // note the comma at the end of the line!
            // last reminder, note the comma!
            menubar: false,
            code_dialog_height: 300,
            code_dialog_width: 350,
            skin: 'lightgray'
        });
    </script>
</head>
<body>
<div class="container" id = "topContainer">

    <h1 id = "submissionHeader"> Submit Your Paper</h1>

    <form method = "post" class = "form-horizontal">
        <div class = "form-group">
            <label for ="topics" class = "col-sm-2 control-label">Choose Topic</label>
            <div class = "col-xs-4">
                <select class = "form-control" id = "topics" name = "topic">
                    <option value = "Politics">Politics</option>
                    <option value = "English">English</option>
                    <option value = "History">History</option>
                    <option value = "Linguistics">Linguistics</option>
                </select>
            </div>
        </div>
        <div class = "form-group">
            <label for = "descriptionField" class="col-sm-2 control-label">Description</label>
            <div class = "col-xs-4">
                <input type = "text" class = "form-control input-lg" id = "descriptionField" name = "description" placeholder = "Enter description...">
    <!--</form>-->
            </div>

        </div>
        <div class = "centerText">
            <section class="content centerText">
                <textarea id="mytextarea"></textarea>
            </section>
            <button id="start" type="button" class="btn btn-success btn-filter centerText" data-target="pagado">Submit</button>
        </div>
    </form>


</div>
</body>
</html>
