<!DOCTYPE html>
<html>
<head>
  <title>Task</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>


<body>
  <div class="container" id = "topContainer">
    <div class="row">

      <section class="content">
        <h1>Paper on {{post.subject}}</h1>
        <h2>{{post.title}}</h2>
        <div class="col-md-12 col-md-offset-0">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2 class="greenColor">Description</h2>
              <h3>{{post.description}}</h3>
            </div>
          </div>
          <div class="panel panel-default">

            <div class="panel-body">
              <h2 class="orangeColor">Text</h2>
              <h3>{{post.body}}</h3>
            </div>
          </div>

          </div>
          <button id="start" type="button" class="btn btn-success btn-filter" data-target="pagado">Start working on the task</button>
          <div class="content-footer">
            <p>

            </p>
          </div>
        </div>
      </section>

    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>
