<!DOCTYPE html>
<html>
<head>
  <title>Task</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/style.css">

</head>


<body>
<div class="container" id = "topContainer">
    <div id = "taskContainer" class = "">
        <h2>Topic: {{post.subject}}</h2>
        <h4>{{post.title}}</h4>
        <h5>Description: {{post.description}}</h5>
        <h5>Author: <a href="/#/profile/{{post.author._id}}">{{post.author.local.name}}</a></h5>


        <div id = "innerDiv" class = "borderTop">

            <div id = "votesDiv">
                <div id = "votesUL">
                    <div id = "voteButtons">
                        <a style = "display:block" href = ""><span style = "font-size: 3em;" class = "glyphicon glyphicon-thumbs-up green"></span></a>
                        <a style = "display:block" href = ""><span style = "font-size: 3em;" class = "glyphicon glyphicon-thumbs-down red"></span></a>
                    </div>
                </div>
            </div>

            <p id = "taskDescription">
                {{post.body}}
            </p>



        </div>
    </div>





  <!--<div class="container" id = "topContainer">-->
    <!--<div class="row">-->

      <!--<section class="content">-->
        <!--<h1>Paper on {{post.subject}}</h1>-->
        <!--<h2>{{post.title}}</h2>-->
        <!--<h2>Author: <a href="/#/profile/{{post.author._id}}">{{post.author.local.name}}</a></h2>-->
        <!--<div class="col-md-8 col-md-offset-0">-->
          <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
              <!--<h2 class="greenColor">Description</h2>-->
              <!--<h3>{{post.description}}</h3>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="panel panel-default">-->

            <!--<div class="panel-body">-->
              <!--<h2 class="orangeColor">Text</h2>-->
              <!--<h3>{{post.body}}</h3>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
        <div class="col-md-4 col-md-offset-0 centerText container" id = "similarPostDiv">
          <div class="panel panel-default container" >
            <h3 class="orangeColor">Similar posts</h3>
            <div class="link" ng-repeat="recomendation in recomendationPosts" data-status="pagado">
              <!-- ng-click="redirect(post._id)" -->
              <a href="/#/post/{{recomendation._id}}"><p>{{recomendation.title}}</p></a>

            </div>

          </div>

        </div>

        <div class="content-footer">
          <p>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-0 centerText">

          <button id="start" type="button" class="btn btn-success btn-filter" style = "margin-bottom: 15px;"data-target="pagado">Review</button>
          <div class="row centerText" id='reviewForm'>
            <form method = "post" class = "form-horizontal">
                <div class = "form-group">
                      <label for = "gradeSelect" class="col-sm-2 control-label">Your grade</label>
                      <div class = "col-xs-1">
                        <select class = "form-control" id="gradeSelect" name="grade" ng-model="review.grade">
                            <option value = "A">A</option>
                            <option value = "B">B</option>
                            <option value = "C">C</option>
                            <option value = "D">D</option>
                        </select>
                      </div>
                </div>

                <div class ="form-group">
                    <label for="reviewField" class = "col-sm-2 control-label">Review</label>
                    <div class = "col-xs-4">

                    <textarea rows="10" cols="50" ng-model="review.body" name="comment" id = "reviewField">
                    </textarea>
                        <button id="submitReview" ng-click="submitReview()" type="button" class="btn btn-success btn-filter centerText" data-target="pagado">Submit Review</button>

                    </div>
                </div>

            </form>

          </div>
          <h3 id="thanks" class="greenColor">Thank you for the review!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-0">
          <div class="panel panel-default" id = "reviewPanel">
            <h3 class="orangeColor">Reviews</h3>
            <div class="link" ng-repeat="review in reviews" data-status="pagado">
              <p id = "reviews">{{review.body}}</p>
            </div>

          </div>

        </div>
      </div>
    </section>

  </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
document.getElementById('start').addEventListener('click', function () {
    document.getElementById('reviewForm').style.display = "inline";
    document.getElementById('start').style.display = "none";
  });

  document.getElementById('submitReview').addEventListener('click', function () {
      document.getElementById('reviewForm').style.display = "none";
      document.getElementById('thanks').style.display = "inline";
    });


</script>
</body>

</html>
